.navColor {
  background-color: #000324;
}
.fullBg {
  background-color: #000324;
}
.Navtxt1 {
  margin-top: 75px;
  margin-right: 30px;
}
.Navtxt2 {
  margin-top: 75px;
  margin-right: 30px;
}
.Navtxt3 {
  margin-top: 75px;
  margin-left: 30px;
}
.Navtxt4 {
  margin-top: 75px;
  margin-left: 30px;
}
.logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnBg {
  background-color: #000324;
  color: white;
  outline-color: white;
}
.bgImg {
  background-image: url("../Assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}
.box {
  width: 945px;
  height: 232px;
  background-color: #000324;
  margin-top: 150px;
  opacity: 0.8;
  justify-content: center;
  display: flex;
  align-items: center;
}
.box2 {
  width: 95rem;
  height: 30rem;
  background-color: white;
  background-size: cover;
}

.colPostion {
  justify-content: center;
  display: flex;
}

.boxTxt {
  color: white;
  align-content: center;
  font: normal normal normal 45px/57px Dosis;
  text-align: center;
}
.boxTxt2 {
  color: white;
  align-content: center;
  text-align: center;
  font: normal normal normal 16px/20px Source Sans Pro;
}

.hamsterHomeImg {
  top: 728px;
  left: 393px;
  width: 369px;
  height: 416px;
  align-content: center;
}
